body {
  display: grid;
  grid-template-columns: 200px 1000px;
  grid-template-rows: 200px 1000px;
}

div {
  border: solid;
}

/* Main body */
.sidebar-container {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.header-container {
  grid-column-start: 2;
}

.main-content-container {
  grid-column-start: 2;
}

/* Sidebar */
.sidebar-element {
  display: grid;
  grid-template: 1fr /1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
}
