body {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
}

div {
  border: solid;
}

.sidebar-container {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.header-container {
  grid-column-start: 2;
}

.main-content-container {
  grid-column-start: 2;
}
